<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="logWriterGroup">
			<section name="logWriter" type="RSAClassLibrary.Logging.LogWriterSection, RSAClassLibrary" allowLocation="true" allowDefinition="Everywhere"/>
		</sectionGroup>
	</configSections>
	<logWriterGroup>
		<logWriter applicationName="LogWriterTestApp" emailEnabled="true" smtpServer="smtp.gmail.com" smtpPort="587" smtpUser="iwtware@gmail.com" smtpPassword="B6indview" smtpEnableSsl="true" fromEmailAddress="support@iwtware.com">
			<debugSeverity enabled="true" emailEnabled="true" emailAddress="rshouse@hotmail.com"/>
			<errorSeverity enabled="true" emailEnabled="true" emailAddress="rshouse@hotmail.com"/>
			<informationSeverity enabled="true" emailEnabled="true" emailAddress="rshouse@hotmail.com"/>
			<runningSeverity enabled="true" emailEnabled="true" emailAddress="rshouse@hotmail.com"/>
			<warningSeverity enabled="true" emailEnabled="true" emailAddress="rshouse@hotmail.com"/>
		</logWriter>
	</logWriterGroup>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v12.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="fischerhomesEntities" connectionString="metadata=res://*/Models.FischerHomesModel.csdl|res://*/Models.FischerHomesModel.ssdl|res://*/Models.FischerHomesModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=ssware;persistsecurityinfo=True;database=fischerhomes&quot;" providerName="System.Data.EntityClient" />
		<add name="fischerloggingEntities" connectionString="metadata=res://*/Models.FischerLoggingModel.csdl|res://*/Models.FischerLoggingModel.ssdl|res://*/Models.FischerLoggingModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=ssware;persistsecurityinfo=True;database=fischerlogging&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>